.form-inline
    justify-content: space-between
    .form-group
        flex-basis: 80%
    .form-control
        flex-basis: 100%

.card-deck
    justify-content: space-between
    & > .card
        flex-basis: 15%

.input-form
    &__submit
        flex-basis: 20%            